nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #555;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

h1 {
    text-align: center;
}

/*topo*/


header {
    background-image: linear-gradient(#2a2b2c, #06161f);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #192129;
    margin-top: auto;
    flex-wrap: wrap;
}

header, footer {
    color: white;
    padding: 0.5em;
}

footer a {
    color: inherit;
}

div#logo {
    margin: auto 0;
}

div#logo * {
    vertical-align: middle;
    margin-left: 0.5em;
}

div#logo span {
    font-size: 2em;
    font-weight: bold;
}

div#usuarioInfo a.botao {
    border: 1px solid white;
}

div#usuarioInfo {
    text-align: right;
}

div#usuarioInfo span, footer span {
    display: block;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 450px) {

    div#usuarioInfo {
        margin-top: 1em;
        text-align: left;
    }

    footer {
        margin-top: 1em;
        text-align: left;
    }

}


/* tabela */

table {
    width: 100%;
    border-spacing: 0.1em;
    margin: 0.5em auto;
    /* Responsivo */
    display: block;
    overflow-x: auto;
  }
  
  table th {
    background-color: #525252;
    color: white;
  }
  
  table td,
  table th {
    padding: 0.5em;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #c6d4e2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #e7ecf1;
  }
  
  table tbody tr:hover {
    background-color: #cccccc;
  }
  
  table tfoot td {
    border-top: 1px solid #505050;
    text-align: center;
  }
  
  table tbody td:last-child,
  table tbody td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
  }
  
  @media print {
    table th {
      color: black;
    }
  
    table th,
    table td {
      border: 1px solid black;
    }
  
    header,
    nav,
    div#comandos {
      display: none;
    }
  }