* {
    margin: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    min-width: 1030px;
}

header, nav {
    min-width: 1070px;
}

main {
    width: 95%;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    min-width: 1030px;
}



#observacao, #quantidade {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(30% - 12px);
    margin-right: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 100px;
    text-align: center;
}
table, th, td {
    border: 3px solid #ddd;
    padding: 5px;
    text-align: left;
}

@media screen and (max-width: 913px) {
    #observacao, #quantidade {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    }
}
