* {
    margin: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
    min-width: 650px;
}

main {
    width: 95%;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
